# A Claims Data Pyspark Work

In [1]:
#!pip install pyspark

In [2]:
#!pip install findspark

In [3]:
import findspark
findspark.init()

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

In [7]:
spark = SparkSession.builder.appName("KalyanExample").getOrCreate()

In [8]:
df1 = spark.read.csv("C:/Users/kalsr/Documents/ClaimsDataFromKaggle/insurance_data.csv", header=True, inferSchema=True)

In [9]:
df2 = spark.read.csv("C:/Users/kalsr/Documents/ClaimsDataFromKaggle/vendor_data.csv", header=True, inferSchema=True)

In [10]:
df1.printSchema()

root
 |-- TXN_DATE_TIME: timestamp (nullable = true)
 |-- TRANSACTION_ID: string (nullable = true)
 |-- CUSTOMER_ID: string (nullable = true)
 |-- POLICY_NUMBER: string (nullable = true)
 |-- POLICY_EFF_DT: date (nullable = true)
 |-- LOSS_DT: date (nullable = true)
 |-- REPORT_DT: date (nullable = true)
 |-- INSURANCE_TYPE: string (nullable = true)
 |-- PREMIUM_AMOUNT: double (nullable = true)
 |-- CLAIM_AMOUNT: integer (nullable = true)
 |-- CUSTOMER_NAME: string (nullable = true)
 |-- ADDRESS_LINE1: string (nullable = true)
 |-- ADDRESS_LINE2: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- POSTAL_CODE: integer (nullable = true)
 |-- SSN: string (nullable = true)
 |-- MARITAL_STATUS: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- TENURE: integer (nullable = true)
 |-- EMPLOYMENT_STATUS: string (nullable = true)
 |-- NO_OF_FAMILY_MEMBERS: integer (nullable = true)
 |-- RISK_SEGMENTATION: string (nullable = true)
 |-- HOUSE_TYPE: string (nullable = true)
 |-- SOCIAL_CLASS: string (nullable = true)
 |-- ROUTING_NUMBER: integer (nullable = true)
 |-- ACCT_NUMBER: string (nullable = true)
 |-- CUSTOMER_EDUCATION_LEVEL: string (nullable = true)
 |-- CLAIM_STATUS: string (nullable = true)
 |-- INCIDENT_SEVERITY: string (nullable = true)
 |-- AUTHORITY_CONTACTED: string (nullable = true)
 |-- ANY_INJURY: integer (nullable = true)
 |-- POLICE_REPORT_AVAILABLE: integer (nullable = true)
 |-- INCIDENT_STATE: string (nullable = true)
 |-- INCIDENT_CITY: string (nullable = true)
 |-- INCIDENT_HOUR_OF_THE_DAY: integer (nullable = true)
 |-- AGENT_ID: string (nullable = true)
 |-- VENDOR_ID: string (nullable = true)

In [15]:
df1.show()

+-------------------+--------------+-----------+-------------+-------------+----------+----------+--------------+--------------+------------+--------------------+--------------------+-------------+-----------+-----+-----------+-----------+--------------+---+------+-----------------+--------------------+-----------------+----------+------------+--------------+------------------+------------------------+------------+-----------------+-------------------+----------+-----------------------+--------------+-----------------+------------------------+----------+---------+
|      TXN_DATE_TIME|TRANSACTION_ID|CUSTOMER_ID|POLICY_NUMBER|POLICY_EFF_DT|   LOSS_DT| REPORT_DT|INSURANCE_TYPE|PREMIUM_AMOUNT|CLAIM_AMOUNT|       CUSTOMER_NAME|       ADDRESS_LINE1|ADDRESS_LINE2|       CITY|STATE|POSTAL_CODE|        SSN|MARITAL_STATUS|AGE|TENURE|EMPLOYMENT_STATUS|NO_OF_FAMILY_MEMBERS|RISK_SEGMENTATION|HOUSE_TYPE|SOCIAL_CLASS|ROUTING_NUMBER|       ACCT_NUMBER|CUSTOMER_EDUCATION_LEVEL|CLAIM_STATUS|INCIDENT_SEVERITY|AUTHORITY_CONTACTED|ANY_INJURY|POLICE_REPORT_AVAILABLE|INCIDENT_STATE|    INCIDENT_CITY|INCIDENT_HOUR_OF_THE_DAY|  AGENT_ID|VENDOR_ID|
+-------------------+--------------+-----------+-------------+-------------+----------+----------+--------------+--------------+------------+--------------------+--------------------+-------------+-----------+-----+-----------+-----------+--------------+---+------+-----------------+--------------------+-----------------+----------+------------+--------------+------------------+------------------------+------------+-----------------+-------------------+----------+-----------------------+--------------+-----------------+------------------------+----------+---------+
|2020-06-01 00:00:00|   TXN00000001|  A00003822|  PLC00008468|   2015-06-23|2020-05-16|2020-05-21|        Health|        157.13|        9000|Christopher Demarest|7701 West Saint J...|        #2010|   Glendale|   AZ|      85308|087-11-1946|             Y| 54|    89|                Y|                   3|                L|       Own|          LI|     109134974|HXJP58258181908465|                Bachelor|           A|       Major Loss|             Police|         0|                      1|            GA|         Savannah|                       4|AGENT00413|VNDR00556|
|2020-06-01 00:00:00|   TXN00000002|  A00008149|  PLC00009594|   2018-04-21|2020-05-13|2020-05-18|      Property|        141.71|       26000|      Ricardo Gatlin|8595 West 81st Drive|         NULL|     Arvada|   CO|      80005|685-33-3536|             N| 61|    80|                Y|                   4|                L|      Rent|          MI|      40125819|JUND46859540983731|                Bachelor|           A|       Total Loss|          Ambulance|         1|                      0|            AL|       Montgomery|                       0|AGENT00769|VNDR00592|
|2020-06-01 00:00:00|   TXN00000003|  A00003172|  PLC00007969|   2019-10-03|2020-05-21|2020-05-26|      Property|        157.24|       13000|      Lashawn Engles| 637 Britannia Drive|         NULL|    Vallejo|   CA|      94591|378-36-0672|             N| 47|    68|                Y|                   6|                L|      Rent|          MI|      99513168|WGZZ90128415227650|                     PhD|           A|       Total Loss|             Police|         0|                      1|            CO|   Grand Junction|                      19|AGENT00883|VNDR00031|
|2020-06-01 00:00:00|   TXN00000004|  A00007572|  PLC00009292|   2016-11-29|2020-05-14|2020-05-19|        Health|        172.87|       16000|      Steven Bassett|    2803 River Drive|         NULL|Thunderbolt|   GA|      31404|669-92-1861|             Y| 36|    16|                Y|                   7|                L|  Mortgage|          MI|      18429110|WIKE91555436351397|                 Masters|           A|       Minor Loss|          Ambulance|         0|                      0|            GA|         Savannah|                      12|AGENT00278|VNDR00075|
|2020-06-01 00:00:00|   TXN00000005|  A00008173|  PLC00000204|   2011-12-26|2020-05-17|2020-05-22|        Travel|         88.53|        3000|     Jason Rodriguez| 7573 National Drive|         NULL|  Livermore|   CA|      94550|703-40-1033|             Y| 51|    16|                Y|                   2|                M|      Rent|          HI|      70752391|VYJW71311537294027|                 Masters|           A|       Major Loss|             Police|         0|                      1|            TN|        Nashville|                      18|AGENT00636|VNDR00472|
|2020-06-01 00:00:00|   TXN00000006|  A00003571|  PLC00007244|   2012-12-28|2020-05-20|2020-05-25|          Life|         87.02|       63000|        Terrance Han|5275 North 59th A...|         NULL|   Glendale|   AZ|      85301|059-08-4065|             N| 42|    38|                Y|                   2|                M|      Rent|          MI|     124246313|TMDB19464299963687|                 College|           A|       Major Loss|          Ambulance|         0|                      1|            AZ|         Glendale|                       0|AGENT00402|     NULL|
|2020-06-01 00:00:00|   TXN00000007|  A00007245|  PLC00002796|   2012-10-26|2020-05-13|2020-05-18|        Health|        197.23|        3000|      Dennis Johnson|    5119 Marla Drive|         NULL|Panama City|   FL|      32404|539-25-2348|             Y| 61|    20|                Y|                   7|                L|      Rent|          MI|      72461648|ZCMU49563664563577|                      NA|           A|       Major Loss|             Police|         1|                      1|            CT|       Manchester|                      10|AGENT00322|VNDR00150|
|2020-06-01 00:00:00|   TXN00000008|  A00004301|  PLC00002925|   2018-12-30|2020-05-14|2020-05-19|         Motor|         83.77|        8000|  Maryalice Martinez|6 Little Country ...|         NULL|   Savannah|   GA|      31406|791-66-5539|             Y| 35|    97|                Y|                   3|                L|      Rent|          MI|      89467431|ZLMN59372702463649|             High School|           A|       Total Loss|             Police|         0|                      1|            FL|Panama City Beach|                      10|AGENT00152|VNDR00326|
|2020-06-01 00:00:00|   TXN00000009|  A00004671|  PLC00006886|   2019-06-27|2020-05-21|2020-05-26|         Motor|         82.14|        5000|   Nicholas Hamilton|642 South 2nd Street|         #608| Louisville|   KY|      40202|427-41-7221|             N| 27|   118|                Y|                   4|                H|  Mortgage|          MI|     107890252|EVZR61264221554624|                Bachelor|           A|       Major Loss|             Police|         0|                      1|            AZ|         Glendale|                      22|AGENT00450|VNDR00437|
|2020-06-01 00:00:00|   TXN00000010|  A00002020|  PLC00007657|   2015-12-19|2020-05-15|2020-05-20|        Travel|         71.29|        4000|  Nicholas Honokaupu|1914 Stratford Do...|         NULL| Montgomery|   AL|      36117|722-69-3392|             Y| 61|   119|                Y|                   4|                L|      Rent|          HI|      16215148|UXQB38236110828938|                     PhD|           A|       Major Loss|               None|         0|                      0|            CA|      San Leandro|                       4|AGENT00682|     NULL|
|2020-06-01 00:00:00|   TXN00000011|  A00007952|  PLC00003007|   2019-03-30|2020-05-20|2020-05-25|          Life|         61.45|       92000|         Janet Watts|    200 Redwood Road|         NULL| Manchester|   CT|       6040|233-66-3524|             N| 59|    14|                Y|                   7|                M|  Mortgage|          MI|      58804083|CQZQ73037026635053|                 Masters|           A|       Major Loss|          Ambulance|         1|                      1|            MD|          Crofton|                      23|AGENT01091|VNDR00163|
|2020-06-01 00:00:00|   TXN00000012|  A00006313|  PLC00002139|   2016-07-22|2020-05-21|2020-05-26|         Motor|        101.15|        8000|    Patricia Garrett|   6721 Boundary Run|         NULL|  Nashville|   TN|      37221|224-80-1633|             Y| 42|    39|                Y|                   2|                H|       Own|          HI|      11697253|YGZM08271540598654|             High School|           D|       Major Loss|          Ambulance|         1|                      1|            CT|       Manchester|                       3|AGENT00288|     NULL|
|2020-06-01 00:00:00|   TXN00000013|  A00003693|  PLC00007839|   2019-06-12|2020-05-24|2020-05-27|        Health|        157.95|       11000|        Lisa Rosario|12870 Old Seward ...|  #STE 000105|  Anchorage|   AK|      99515|115-30-1247|             Y| 57|   118|                Y|                   3|                M|  Mortgage|          LI|      74438433|NAUY34845981013549|                Bachelor|           A|       Major Loss|               None|         0|                      1|            KY|       Louisville|                      22|AGENT00015|VNDR00191|
|2020-06-01 00:00:00|   TXN00000014|  A00007988|  PLC00002521|   2020-01-29|2020-05-18|2020-05-23|          Life|         64.16|       51000|  Felicita Stoughton|     110 Oxford Road|         NULL|   Savannah|   GA|      31419|170-28-1062|             N| 31|   118|                Y|                   7|                L|       Own|          LI|      64537739|GIOA39230059052323|             High School|           A|       Total Loss|          Ambulance|         1|                      0|            AK|        Anchorage|                       0|AGENT01094|     NULL|
|2020-06-01 00:00:00|   TXN00000015|  A00005617|  PLC00007011|   2015-06-08|2020-05-20|2020-05-25|        Mobile|          6.76|         700|    David Pennington|          210 Seaman|         NULL|    McCrory|   AR|      72101|519-11-2464|             Y| 55|    90|                Y|                   6|                L|  Mortgage|          HI|      93703880|LDQH95350551363442|                     PhD|           A|       Major Loss|             Police|         1|                      1|            CO|           Arvada|                      11|AGENT00324|VNDR00135|
|2020-06-01 00:00:00|   TXN00000016|  A00008033|  PLC00008152|   2011-01-25|2020-05-12|2020-05-17|         Motor|        128.73|        9000|     William Halcomb|5124 E Street Sou...|         NULL| Washington|   DC|      20019|142-09-4530|             Y| 57|    48|                Y|                   2|                L|      Rent|          LI|     115671968|KNLE94705483907630|                      NA|           A|       Minor Loss|             Police|         0|                      1|            AR|     Fayetteville|                      22|AGENT00608|VNDR00051|
|2020-06-01 00:00:00|   TXN00000017|  A00007184|  PLC00000118|   2014-04-17|2020-05-13|2020-05-18|      Property|        114.42|       39000|     Michael Kimball|      42 Edison Road|         NULL| Manchester|   CT|       6040|448-54-0272|             Y| 53|    19|                Y|                   5|                M|  Mortgage|          MI|      71737399|XHMQ62339445289593|                Bachelor|           A|       Major Loss|              Other|         0|                      1|            DC|       Washington|                       2|AGENT00911|VNDR00238|
|2020-06-01 00:00:00|   TXN00000018|  A00007426|  PLC00000165|   2015-03-25|2020-05-22|2020-05-25|      Property|        157.18|       40000|          Mark Huang|9545 West 74th Av...|         NULL|     Arvada|   CO|      80005|696-53-5272|             Y| 32|   106|                Y|                   4|                L|  Mortgage|          HI|      47797949|AAET31045958150067|                Bachelor|           A|       Major Loss|             Police|         0|                      1|            AL|       Montgomery|                      14|AGENT00079|     NULL|
|2020-06-01 00:00:00|   TXN00000019|  A00009265|  PLC00000619|   2017-11-03|2020-05-27|2020-05-28|         Motor|        116.55|        8000|       Marshall Worm|  119 Oakland Street|         NULL| Manchester|   CT|       6042|848-09-7847|             N| 45|    69|                Y|                   4|                H|  Mortgage|          MI|     117427424|WGFI36482098909043|             High School|           A|       Total Loss|          Ambulance|         0|                      1|            MA|        Fitchburg|                      20|AGENT00994|VNDR00107|
|2020-06-01 00:00:00|   TXN00000020|  A00005314|  PLC00001411|   2013-11-08|2020-05-17|2020-05-22|          Life|         77.17|       68000|        Mary Carmona|643 Farragut Stre...|         NULL| Washington|   DC|      20011|614-24-5584|             Y| 59|   119|                Y|                   5|                M|  Mortgage|          MI|      32494684|GYVA20207571838807|             High School|           A|       Total Loss|               None|         1|                      1|            CO|           Arvada|                       1|AGENT00490|     NULL|
+-------------------+--------------+-----------+-------------+-------------+----------+----------+--------------+--------------+------------+--------------------+--------------------+-------------+-----------+-----+-----------+-----------+--------------+---+------+-----------------+--------------------+-----------------+----------+------------+--------------+------------------+------------------------+------------+-----------------+-------------------+----------+-----------------------+--------------+-----------------+------------------------+----------+---------+
only showing top 20 rows

In [16]:
df2.printSchema()

root
 |-- VENDOR_ID: string (nullable = true)
 |-- VENDOR_NAME: string (nullable = true)
 |-- ADDRESS_LINE1: string (nullable = true)
 |-- ADDRESS_LINE2: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- POSTAL_CODE: integer (nullable = true)

In [19]:
df3 = df1.join(df2 , on=['VENDOR_ID'] , how = 'left')
#Left joining the insurance data with the vendor data

In [20]:
type(df3)

pyspark.sql.dataframe.DataFrame

In [21]:
df3.printSchema()

root
 |-- VENDOR_ID: string (nullable = true)
 |-- TXN_DATE_TIME: timestamp (nullable = true)
 |-- TRANSACTION_ID: string (nullable = true)
 |-- CUSTOMER_ID: string (nullable = true)
 |-- POLICY_NUMBER: string (nullable = true)
 |-- POLICY_EFF_DT: date (nullable = true)
 |-- LOSS_DT: date (nullable = true)
 |-- REPORT_DT: date (nullable = true)
 |-- INSURANCE_TYPE: string (nullable = true)
 |-- PREMIUM_AMOUNT: double (nullable = true)
 |-- CLAIM_AMOUNT: integer (nullable = true)
 |-- CUSTOMER_NAME: string (nullable = true)
 |-- ADDRESS_LINE1: string (nullable = true)
 |-- ADDRESS_LINE2: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- POSTAL_CODE: integer (nullable = true)
 |-- SSN: string (nullable = true)
 |-- MARITAL_STATUS: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- TENURE: integer (nullable = true)
 |-- EMPLOYMENT_STATUS: string (nullable = true)
 |-- NO_OF_FAMILY_MEMBERS: integer (nullable = true)
 |-- RISK_SEGMENTATION: string (nullable = true)
 |-- HOUSE_TYPE: string (nullable = true)
 |-- SOCIAL_CLASS: string (nullable = true)
 |-- ROUTING_NUMBER: integer (nullable = true)
 |-- ACCT_NUMBER: string (nullable = true)
 |-- CUSTOMER_EDUCATION_LEVEL: string (nullable = true)
 |-- CLAIM_STATUS: string (nullable = true)
 |-- INCIDENT_SEVERITY: string (nullable = true)
 |-- AUTHORITY_CONTACTED: string (nullable = true)
 |-- ANY_INJURY: integer (nullable = true)
 |-- POLICE_REPORT_AVAILABLE: integer (nullable = true)
 |-- INCIDENT_STATE: string (nullable = true)
 |-- INCIDENT_CITY: string (nullable = true)
 |-- INCIDENT_HOUR_OF_THE_DAY: integer (nullable = true)
 |-- AGENT_ID: string (nullable = true)
 |-- VENDOR_NAME: string (nullable = true)
 |-- ADDRESS_LINE1: string (nullable = true)
 |-- ADDRESS_LINE2: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- POSTAL_CODE: integer (nullable = true)

In [23]:
df4 = df3.select('CUSTOMER_NAME','AGE', 'PREMIUM_AMOUNT', 'ACCT_NUMBER', 'CLAIM_AMOUNT', 'EMPLOYMENT_STATUS', 'MARITAL_STATUS', 'CLAIM_STATUS', 'INCIDENT_SEVERITY', 'SOCIAL_CLASS', 'VENDOR_ID', 'CUSTOMER_ID' )

In [24]:
df4.show(n=5)

+--------------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
|       CUSTOMER_NAME|AGE|PREMIUM_AMOUNT|       ACCT_NUMBER|CLAIM_AMOUNT|EMPLOYMENT_STATUS|MARITAL_STATUS|CLAIM_STATUS|INCIDENT_SEVERITY|SOCIAL_CLASS|VENDOR_ID|CUSTOMER_ID|
+--------------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
|Christopher Demarest| 54|        157.13|HXJP58258181908465|        9000|                Y|             Y|           A|       Major Loss|          LI|VNDR00556|  A00003822|
|      Ricardo Gatlin| 61|        141.71|JUND46859540983731|       26000|                Y|             N|           A|       Total Loss|          MI|VNDR00592|  A00008149|
|      Lashawn Engles| 47|        157.24|WGZZ90128415227650|       13000|                Y|             N|           A|       Total Loss|          MI|VNDR00031|  A00003172|
|      Steven Bassett| 36|        172.87|WIKE91555436351397|       16000|                Y|             Y|           A|       Minor Loss|          MI|VNDR00075|  A00007572|
|     Jason Rodriguez| 51|         88.53|VYJW71311537294027|        3000|                Y|             Y|           A|       Major Loss|          HI|VNDR00472|  A00008173|
+--------------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
only showing top 5 rows

In [25]:
#df.filter(df['Global_Sales'] >= 40).show()
df4.filter(df4['AGE'] >= 40).show(n=5)
#df4.filter(df4['AGE'] >= 40 & df4['SOCIAL_CLASS'] == 'HI').show()

+--------------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
|       CUSTOMER_NAME|AGE|PREMIUM_AMOUNT|       ACCT_NUMBER|CLAIM_AMOUNT|EMPLOYMENT_STATUS|MARITAL_STATUS|CLAIM_STATUS|INCIDENT_SEVERITY|SOCIAL_CLASS|VENDOR_ID|CUSTOMER_ID|
+--------------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
|Christopher Demarest| 54|        157.13|HXJP58258181908465|        9000|                Y|             Y|           A|       Major Loss|          LI|VNDR00556|  A00003822|
|      Ricardo Gatlin| 61|        141.71|JUND46859540983731|       26000|                Y|             N|           A|       Total Loss|          MI|VNDR00592|  A00008149|
|      Lashawn Engles| 47|        157.24|WGZZ90128415227650|       13000|                Y|             N|           A|       Total Loss|          MI|VNDR00031|  A00003172|
|     Jason Rodriguez| 51|         88.53|VYJW71311537294027|        3000|                Y|             Y|           A|       Major Loss|          HI|VNDR00472|  A00008173|
|        Terrance Han| 42|         87.02|TMDB19464299963687|       63000|                Y|             N|           A|       Major Loss|          MI|     NULL|  A00003571|
+--------------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
only showing top 5 rows

In [26]:
df4.orderBy(df4['AGE']).show(n=5)

+---------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
|  CUSTOMER_NAME|AGE|PREMIUM_AMOUNT|       ACCT_NUMBER|CLAIM_AMOUNT|EMPLOYMENT_STATUS|MARITAL_STATUS|CLAIM_STATUS|INCIDENT_SEVERITY|SOCIAL_CLASS|VENDOR_ID|CUSTOMER_ID|
+---------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
|Chester Barnard| 25|         74.48|RNKV16004687398667|       11000|                Y|             Y|           D|       Total Loss|          LI|VNDR00192|  A00004091|
|     Lacey Ross| 25|         75.11|WBRL00629616905750|       66000|                Y|             Y|           A|       Total Loss|          MI|VNDR00102|  A00008276|
|    Jill Alonzo| 25|           9.6|ZUXM15420006014019|         200|                Y|             Y|           A|       Minor Loss|          MI|VNDR00228|  A00004422|
|Mildred Whitten| 25|         147.7|EDWX65101648714154|       13000|                Y|             N|           A|       Major Loss|          MI|VNDR00249|  A00003691|
| Garry Morreale| 25|         75.85|IWLQ14482444844438|       60000|                Y|             Y|           A|       Total Loss|          MI|VNDR00468|  A00007633|
+---------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
only showing top 5 rows

In [27]:
df4.createOrReplaceTempView('KalTable')

In [28]:
query_result = spark.sql('select * from kalTable')

In [29]:
query_result.show(n=5)

+--------------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
|       CUSTOMER_NAME|AGE|PREMIUM_AMOUNT|       ACCT_NUMBER|CLAIM_AMOUNT|EMPLOYMENT_STATUS|MARITAL_STATUS|CLAIM_STATUS|INCIDENT_SEVERITY|SOCIAL_CLASS|VENDOR_ID|CUSTOMER_ID|
+--------------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
|Christopher Demarest| 54|        157.13|HXJP58258181908465|        9000|                Y|             Y|           A|       Major Loss|          LI|VNDR00556|  A00003822|
|      Ricardo Gatlin| 61|        141.71|JUND46859540983731|       26000|                Y|             N|           A|       Total Loss|          MI|VNDR00592|  A00008149|
|      Lashawn Engles| 47|        157.24|WGZZ90128415227650|       13000|                Y|             N|           A|       Total Loss|          MI|VNDR00031|  A00003172|
|      Steven Bassett| 36|        172.87|WIKE91555436351397|       16000|                Y|             Y|           A|       Minor Loss|          MI|VNDR00075|  A00007572|
|     Jason Rodriguez| 51|         88.53|VYJW71311537294027|        3000|                Y|             Y|           A|       Major Loss|          HI|VNDR00472|  A00008173|
+--------------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
only showing top 5 rows

In [30]:
query_result = spark.sql("select * from kalTable where social_class = 'MI'")
query_result.show(n=5)

+--------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
| CUSTOMER_NAME|AGE|PREMIUM_AMOUNT|       ACCT_NUMBER|CLAIM_AMOUNT|EMPLOYMENT_STATUS|MARITAL_STATUS|CLAIM_STATUS|INCIDENT_SEVERITY|SOCIAL_CLASS|VENDOR_ID|CUSTOMER_ID|
+--------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
|Ricardo Gatlin| 61|        141.71|JUND46859540983731|       26000|                Y|             N|           A|       Total Loss|          MI|VNDR00592|  A00008149|
|Lashawn Engles| 47|        157.24|WGZZ90128415227650|       13000|                Y|             N|           A|       Total Loss|          MI|VNDR00031|  A00003172|
|Steven Bassett| 36|        172.87|WIKE91555436351397|       16000|                Y|             Y|           A|       Minor Loss|          MI|VNDR00075|  A00007572|
|  Terrance Han| 42|         87.02|TMDB19464299963687|       63000|                Y|             N|           A|       Major Loss|          MI|     NULL|  A00003571|
|Dennis Johnson| 61|        197.23|ZCMU49563664563577|        3000|                Y|             Y|           A|       Major Loss|          MI|VNDR00150|  A00007245|
+--------------+---+--------------+------------------+------------+-----------------+--------------+------------+-----------------+------------+---------+-----------+
only showing top 5 rows

In [32]:
query_result = spark.sql("SELECT VENDOR_ID, COUNT(*) AS claim_count from kalTable GROUP BY VENDOR_ID ORDER BY claim_count DESC")
query_result.show(n=10)

#Query for the top 10 vendor utilization

+---------+-----------+
|VENDOR_ID|claim_count|
+---------+-----------+
|     NULL|       3245|
|VNDR00451|         28|
|VNDR00535|         28|
|VNDR00083|         27|
|VNDR00167|         26|
|VNDR00590|         26|
|VNDR00031|         25|
|VNDR00120|         25|
|VNDR00339|         25|
|VNDR00047|         25|
+---------+-----------+
only showing top 10 rows

In [39]:
spark.sql("select mean(CLAIM_AMOUNT) as claimed, customer_name as name from kalTable group by customer_name ORDER BY claimed DESC").show()
#Ordering the customer name by the amount claimed per year

+--------+----------------+
| claimed|            name|
+--------+----------------+
|100000.0|    Roger Mcleod|
|100000.0|   Robert Flores|
|100000.0|     Jimmy Boyer|
|100000.0|   Carolyn Cronk|
|100000.0|Genevieve Taylor|
|100000.0| Betty Rodriguez|
|100000.0|  Dustin Willert|
|100000.0|  Regina Baldwin|
|100000.0|Bobbie Chiarello|
|100000.0|Janet Soderquist|
|100000.0|Mackenzie Sparks|
|100000.0| Harold Penalosa|
|100000.0|     Jack Ammons|
|100000.0|      Ezra Crews|
|100000.0|  Jacinta Suiter|
|100000.0|  Herman Vasquez|
| 99000.0|    Michael Lund|
| 99000.0|  Daniel Conklin|
| 99000.0| Preston Chatman|
| 99000.0|  Charles Watson|
+--------+----------------+
only showing top 20 rows

In [38]:
query_result = spark.sql("SELECT CUSTOMER_ID, COUNT(*) AS claim_count from kalTable GROUP BY CUSTOMER_ID ORDER BY claim_count DESC")
query_result.show(n=10)
#Customer ID based on number claims

+-----------+-----------+
|CUSTOMER_ID|claim_count|
+-----------+-----------+
|  A00005805|          1|
|  A00007779|          1|
|  A00003059|          1|
|  A00003629|          1|
|  A00006965|          1|
|  A00001898|          1|
|  A00007189|          1|
|  A00000961|          1|
|  A00007083|          1|
|  A00004344|          1|
+-----------+-----------+
only showing top 10 rows

In [40]:
spark.sql("select customer_name, mean(CLAIM_AMOUNT) as claimed, count(CLAIM_AMOUNT) as cmt, sum(CLAIM_AMOUNT) as sum from kalTable where age >= 50 group by customer_name").show()

+------------------+-------+---+-----+
|     customer_name|claimed|cmt|  sum|
+------------------+-------+---+-----+
|   Cherie Regalado|19000.0|  1|19000|
|     Maria Luciani|36000.0|  1|36000|
|      Nydia Bowser|15000.0|  1|15000|
|    Joyce Mcintyre|28000.0|  1|28000|
|    Josephine Pyle|25000.0|  1|25000|
|      Ruth Clouser|31000.0|  1|31000|
|       Tracy Smith|64000.0|  1|64000|
|   Brooke Lawrence| 5000.0|  1| 5000|
|       Gary Rogers|14000.0|  1|14000|
|     Crystal Ramos|99000.0|  1|99000|
|      Lynn Thurmer|  400.0|  1|  400|
|Marianne Armstrong|30000.0|  1|30000|
|      James Conley|24000.0|  1|24000|
|     Roger Kuehnle|15000.0|  1|15000|
|     Rosie Milburn|11000.0|  1|11000|
|      John Hopkins| 9000.0|  1| 9000|
|    Edward Peacock|40000.0|  1|40000|
|     Susan Nutting|29000.0|  1|29000|
|      Charles Wold|20000.0|  1|20000|
|      Sara Cinotti| 3000.0|  1| 3000|
+------------------+-------+---+-----+
only showing top 20 rows

In [68]:
spark.sql("SHOW COLUMNS FROM kalTable").show();

+-----------------+
|         col_name|
+-----------------+
|    CUSTOMER_NAME|
|              AGE|
|   PREMIUM_AMOUNT|
|      ACCT_NUMBER|
|     CLAIM_AMOUNT|
|EMPLOYMENT_STATUS|
|   MARITAL_STATUS|
|     CLAIM_STATUS|
|INCIDENT_SEVERITY|
|     SOCIAL_CLASS|
|        VENDOR_ID|
|      CUSTOMER_ID|
+-----------------+

In [73]:
spark.sql("select customer_name, mean(CLAIM_AMOUNT) as claimed, count(CLAIM_AMOUNT) as cnt from kalTable where age >= 50 ").show()

AnalysisException: [MISSING_GROUP_BY] The query does not include a GROUP BY clause. Add GROUP BY or turn it into the window functions using OVER clauses.; line 1 pos 0;
Aggregate [customer_name#27, mean(CLAIM_AMOUNT#26) AS claimed#1393, count(CLAIM_AMOUNT#26) AS cnt#1394L]
+- Filter (age#35 >= 50)
   +- SubqueryAlias kaltable
      +- View (`KalTable`, [CUSTOMER_NAME#27,AGE#35,PREMIUM_AMOUNT#25,ACCT_NUMBER#43,CLAIM_AMOUNT#26,EMPLOYMENT_STATUS#37,MARITAL_STATUS#34,CLAIM_STATUS#45,INCIDENT_SEVERITY#46,SOCIAL_CLASS#41,VENDOR_ID#54,CUSTOMER_ID#19])
         +- Project [CUSTOMER_NAME#27, AGE#35, PREMIUM_AMOUNT#25, ACCT_NUMBER#43, CLAIM_AMOUNT#26, EMPLOYMENT_STATUS#37, MARITAL_STATUS#34, CLAIM_STATUS#45, INCIDENT_SEVERITY#46, SOCIAL_CLASS#41, VENDOR_ID#54, CUSTOMER_ID#19]
            +- Project [VENDOR_ID#54, TXN_DATE_TIME#17, TRANSACTION_ID#18, CUSTOMER_ID#19, POLICY_NUMBER#20, POLICY_EFF_DT#21, LOSS_DT#22, REPORT_DT#23, INSURANCE_TYPE#24, PREMIUM_AMOUNT#25, CLAIM_AMOUNT#26, CUSTOMER_NAME#27, ADDRESS_LINE1#28, ADDRESS_LINE2#29, CITY#30, STATE#31, POSTAL_CODE#32, SSN#33, MARITAL_STATUS#34, AGE#35, TENURE#36, EMPLOYMENT_STATUS#37, NO_OF_FAMILY_MEMBERS#38, RISK_SEGMENTATION#39, ... 20 more fields]
               +- Join LeftOuter, (VENDOR_ID#54 = VENDOR_ID#110)
                  :- Relation [TXN_DATE_TIME#17,TRANSACTION_ID#18,CUSTOMER_ID#19,POLICY_NUMBER#20,POLICY_EFF_DT#21,LOSS_DT#22,REPORT_DT#23,INSURANCE_TYPE#24,PREMIUM_AMOUNT#25,CLAIM_AMOUNT#26,CUSTOMER_NAME#27,ADDRESS_LINE1#28,ADDRESS_LINE2#29,CITY#30,STATE#31,POSTAL_CODE#32,SSN#33,MARITAL_STATUS#34,AGE#35,TENURE#36,EMPLOYMENT_STATUS#37,NO_OF_FAMILY_MEMBERS#38,RISK_SEGMENTATION#39,HOUSE_TYPE#40,... 14 more fields] csv
                  +- Relation [VENDOR_ID#110,VENDOR_NAME#111,ADDRESS_LINE1#112,ADDRESS_LINE2#113,CITY#114,STATE#115,POSTAL_CODE#116] csv

In [72]:
spark.sql("select customer_name, mean(CLAIM_AMOUNT) as claimed, count(CLAIM_AMOUNT) as cnt from kalTable where age >= 45 group by customer_name").show()

+------------------+-------+---+
|     customer_name|claimed|cnt|
+------------------+-------+---+
|    Raymond Kiffer|15000.0|  1|
|   Cherie Regalado|19000.0|  1|
|      Rachel Olson|  700.0|  1|
|     Maria Luciani|36000.0|  1|
|      Nydia Bowser|15000.0|  1|
|    Joyce Mcintyre|28000.0|  1|
|    Josephine Pyle|25000.0|  1|
|      Ruth Clouser|31000.0|  1|
|       Tracy Smith|64000.0|  1|
|   Brooke Lawrence| 5000.0|  1|
|       Gary Rogers|14000.0|  1|
|     Crystal Ramos|99000.0|  1|
|      Lynn Thurmer|  400.0|  1|
|       Byron Estes|  600.0|  1|
|Marianne Armstrong|30000.0|  1|
|      James Conley|24000.0|  1|
|     Roger Kuehnle|15000.0|  1|
|     Rosie Milburn|11000.0|  1|
|      John Hopkins| 9000.0|  1|
|    Edward Peacock|40000.0|  1|
+------------------+-------+---+
only showing top 20 rows

In [94]:
#Performing the quereis using the pyspark dataframe using pivot
df4.groupBy("PREMIUM_AMOUNT").pivot("INCIDENT_SEVERITY", ["Minor Loss", "Total Loss"]).sum("CLAIM_AMOUNT").show()

+--------------+----------+----------+
|PREMIUM_AMOUNT|Minor Loss|Total Loss|
+--------------+----------+----------+
|          9.13|       300|       800|
|        134.49|      NULL|      NULL|
|          74.5|      NULL|     78000|
|          76.4|     58000|      NULL|
|         86.44|     63000|      NULL|
|         65.78|      NULL|      4000|
|         76.98|     66000|      NULL|
|        181.35|      NULL|      NULL|
|         53.82|      NULL|      NULL|
|        194.47|      NULL|      NULL|
|         85.86|      9000|      NULL|
|          8.51|       500|       400|
|         128.8|      NULL|     36000|
|          98.3|      7000|      NULL|
|         77.19|      NULL|      NULL|
|         58.51|      NULL|      4000|
|        106.01|      NULL|      NULL|
|        150.13|      NULL|      NULL|
|         95.57|     62000|      NULL|
|         76.46|      1000|      NULL|
+--------------+----------+----------+
only showing top 20 rows

In [95]:
df4.groupBy("CLAIM_AMOUNT").pivot("INCIDENT_SEVERITY", ["Minor Loss", "Total Loss"]).sum("PREMIUM_AMOUNT").show()

+------------+------------------+------------------+
|CLAIM_AMOUNT|        Minor Loss|        Total Loss|
+------------+------------------+------------------+
|       85000|            176.56|408.15999999999997|
|        3000|17934.360000000004|17688.990000000005|
|       78000|            396.03|            312.39|
|       76000|            344.41| 844.7499999999999|
|        4000|          16457.87|19085.430000000008|
|       39000|           3166.85|           2691.78|
|       23000| 3209.379999999999|3407.2099999999996|
|       27000|           1823.03|           2902.95|
|       91000|            499.12|            642.51|
|       54000|409.57000000000005|            526.86|
|         300| 738.7099999999998| 757.9699999999998|
|       16000| 6000.209999999999|           7198.13|
|       35000|2809.6699999999996|           2838.13|
|       44000|            213.82|            525.78|
|       99000| 929.4999999999999|            570.59|
|       63000|            627.89|            545.54|
|       12000|           6500.11| 5544.129999999998|
|       19000| 8681.849999999999| 6861.999999999999|
|       13000|5632.8899999999985| 8338.760000000002|
|       32000|1986.6400000000003| 3547.419999999999|
+------------+------------------+------------------+
only showing top 20 rows

In [96]:
df4.groupBy("PREMIUM_AMOUNT").pivot("INCIDENT_SEVERITY").sum("CLAIM_AMOUNT").show()

+--------------+----------+----------+----------+
|PREMIUM_AMOUNT|Major Loss|Minor Loss|Total Loss|
+--------------+----------+----------+----------+
|          9.13|      NULL|       300|       800|
|        134.49|      5000|      NULL|      NULL|
|          74.5|      8000|      NULL|     78000|
|          76.4|      NULL|     58000|      NULL|
|         86.44|      NULL|     63000|      NULL|
|         65.78|      NULL|      NULL|      4000|
|         76.98|     48000|     66000|      NULL|
|        181.35|      7000|      NULL|      NULL|
|         53.82|      2000|      NULL|      NULL|
|        194.47|      2000|      NULL|      NULL|
|         85.86|      NULL|      9000|      NULL|
|          8.51|      1100|       500|       400|
|         128.8|      NULL|      NULL|     36000|
|          98.3|      NULL|      7000|      NULL|
|         77.19|      4000|      NULL|      NULL|
|         58.51|      NULL|      NULL|      4000|
|        106.01|      3000|      NULL|      NULL|
|        150.13|     18000|      NULL|      NULL|
|         95.57|     23000|     62000|      NULL|
|         76.46|      NULL|      1000|      NULL|
+--------------+----------+----------+----------+
only showing top 20 rows

In [97]:
df4.groupBy("PREMIUM_AMOUNT").pivot("INCIDENT_SEVERITY").sum("CLAIM_AMOUNT").show()

+--------------+----------+----------+----------+
|PREMIUM_AMOUNT|Major Loss|Minor Loss|Total Loss|
+--------------+----------+----------+----------+
|          9.13|      NULL|       300|       800|
|        134.49|      5000|      NULL|      NULL|
|          74.5|      8000|      NULL|     78000|
|          76.4|      NULL|     58000|      NULL|
|         86.44|      NULL|     63000|      NULL|
|         65.78|      NULL|      NULL|      4000|
|         76.98|     48000|     66000|      NULL|
|        181.35|      7000|      NULL|      NULL|
|         53.82|      2000|      NULL|      NULL|
|        194.47|      2000|      NULL|      NULL|
|         85.86|      NULL|      9000|      NULL|
|          8.51|      1100|       500|       400|
|         128.8|      NULL|      NULL|     36000|
|          98.3|      NULL|      7000|      NULL|
|         77.19|      4000|      NULL|      NULL|
|         58.51|      NULL|      NULL|      4000|
|        106.01|      3000|      NULL|      NULL|
|        150.13|     18000|      NULL|      NULL|
|         95.57|     23000|     62000|      NULL|
|         76.46|      NULL|      1000|      NULL|
+--------------+----------+----------+----------+
only showing top 20 rows

In [100]:
 df4.groupBy("CLAIM_AMOUNT").pivot("EMPLOYMENT_STATUS").sum("PREMIUM_AMOUNT").show()

+------------+------------------+------------------+
|CLAIM_AMOUNT|                 N|                 Y|
+------------+------------------+------------------+
|       85000|              NULL| 987.8700000000001|
|        3000|           3970.68| 48360.72999999998|
|       78000|             69.72|1180.3899999999999|
|        4000| 4871.049999999998|48508.260000000024|
|       76000|             84.17|           1568.78|
|       39000| 718.8199999999999| 8394.870000000004|
|       23000|            712.47| 8021.680000000003|
|       27000|            804.44| 6181.740000000001|
|       91000|            152.91|1247.6699999999998|
|       54000|             98.97|1345.8999999999999|
|         300| 266.7199999999999|            1800.8|
|       16000|           1039.99|17910.880000000005|
|       35000|           1084.67|           7277.81|
|       44000|              84.0|           1461.55|
|       63000|             93.36|1638.0699999999997|
|       99000|             266.5|           1824.51|
|       12000|           1570.44|16955.159999999996|
|       19000|1893.0099999999995|21744.800000000014|
|       32000|            552.42|            7162.0|
|       13000|1748.4400000000005|21089.649999999994|
+------------+------------------+------------------+
only showing top 20 rows

In [121]:
spark.sql("select mean(CLAIM_AMOUNT) as claimed, customer_name as name from(select * from kalTable where social_class = 'MI') group by customer_name").show()

+-------+-----------------+
|claimed|             name|
+-------+-----------------+
| 4000.0| Patricia English|
|32350.0|      Tracy Smith|
|15000.0|     Nydia Bowser|
|  400.0|     Judy Clemmer|
|  300.0|      Leona Nixon|
|20000.0|Lawrence Williams|
| 5000.0| Herlinda Damelio|
| 5000.0|  Brooke Lawrence|
|14000.0|      Gary Rogers|
|34000.0|      Wilma Woody|
| 5000.0|     Kyle Goodier|
|  400.0|     Lynn Thurmer|
|  600.0|      Byron Estes|
|24000.0|     James Conley|
|15000.0|    Roger Kuehnle|
| 8000.0|   Bradley Rivera|
| 7000.0|       Julio Reed|
| 7000.0|  Jason Albertson|
| 4000.0|   Benjamin Ramos|
| 9000.0|     John Hopkins|
+-------+-----------------+
only showing top 20 rows

In [122]:
spark.sql("select mean(CLAIM_AMOUNT) as claimed, customer_name as name from(select * from kalTable where social_class = 'HI') group by customer_name").show()

+-------+----------------+
|claimed|            name|
+-------+----------------+
|19000.0| Cherie Regalado|
|36000.0|   Maria Luciani|
|28000.0|  Joyce Mcintyre|
|25000.0|  Josephine Pyle|
|31000.0|    Ruth Clouser|
|37000.0| Nicholas Begley|
| 5000.0|  Michael Gordon|
|11000.0|   Rosie Milburn|
|40000.0|  Edward Peacock|
| 5000.0|      Isaac Then|
| 2000.0|   Andre Whitman|
| 4000.0|     Brian Cadiz|
|  200.0|Elizabeth Turner|
|29000.0|  Joshua Goodwin|
|11000.0|Ronald Bannister|
|25000.0|    Chuck Tellez|
| 4000.0|    Dominic Cato|
|37000.0|  Cherryl Leedom|
| 6000.0|   Walter Conner|
|21000.0|   Michael Smith|
+-------+----------------+
only showing top 20 rows

In [127]:
 spark.sql("select mean(CLAIM_AMOUNT) as claimed, customer_name as name from(select * from kalTable where social_class = 'HI' AND customer_name LIKE 'G%'  ) group by customer_name").show()

+-------+-------------------+
|claimed|               name|
+-------+-------------------+
| 2000.0|      Gladys Wilson|
|15000.0|         Gwen Scott|
|  300.0|     Grisel Goodale|
| 2000.0|        Glenda Hart|
| 9000.0|     George Shively|
|10000.0|      Gerald Macias|
|75000.0|         Gail Ollis|
| 4000.0|     Grace Mcfarlin|
|96000.0|        George Hunt|
|22000.0|       Gregory Lien|
|  200.0|          Gary Winn|
|15000.0|    Gregg Bumgarner|
| 9000.0|       Gerald Johns|
| 2000.0|Geraldine Hampshire|
| 4000.0|      Garry Rushing|
| 2000.0|      Gregory Henry|
|  100.0|      Gregory Brown|
|  300.0|        Gladys Webb|
| 6000.0|       Gail Hoffman|
| 5000.0|    Genevieve White|
+-------+-------------------+
only showing top 20 rows

In [134]:
 spark.sql(" select   mean(CLAIM_AMOUNT) as claimed, customer_name as name from(select * from kalTable where social_class = 'HI' AND (customer_name LIKE 'A%' or customer_name LIKE 'B%' )  ) group by customer_name").show()

+-------+-------------------+
|claimed|               name|
+-------+-------------------+
| 2000.0|      Andre Whitman|
| 4000.0|        Brian Cadiz|
| 3000.0|         Brandi Ney|
|  500.0|   Arnoldo Gilliard|
| 4000.0|          Amy Evans|
| 3000.0|      Bernard Fonua|
|34000.0|         Bill Mcgee|
|16000.0|       Billy Jaudon|
| 3000.0|  Beverly Sanderson|
|17000.0|Barbara Sommerville|
|  700.0|    Albert Thompson|
|82000.0|       Betty Magill|
|82000.0|      Brandon Osmer|
|83000.0|     Bradley Alston|
|  500.0|       Albert Davis|
|59000.0|     Andre Hartigan|
|24000.0|     Angela Liptrot|
| 7000.0|  Anthony Carpenter|
|64000.0|     Brooks Grizzle|
|  700.0|       Betty Bowman|
+-------+-------------------+
only showing top 20 rows